# https://www.youtube.com/watch?v=tRZGeaHPoaw


#git remote add origin https://github.com/romulosilvadeoliveira6349/Fundamentos-dos-Sistemas-de-Tempo-Real.git
#git branch -M main
#git push -u origin main



# Working files
# Staging (add)
# Commit (commit)



# git init
# git status
# cat > .gitignore
# git add --all
# git commit -m ".................."
# git diff

# git restore --staged xxx.txt

# git commit -a -m "......................"     pula a fase do stage

# git commit -m "......................" --amend


# git restore xxx.txt
# git mv nome-velho nome-nome


# git log

# git log -p

# git reset <id do commit> 



# ignore all .txt files
#        *.txt

#------------------------------------------------------

# git branch NomeBranch
# git branch
# git switch NomeBranch
# git branch

# git switch main
# git merge -m "merge isto aquilo" NomeBranch
# git branch -d NomeBranch
# git branch


#-------------------------------------------------------





